html,
body,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --black: #111;
  --off-white: #eee;
}

body {
  height: 100vh;
  width: 100vw;
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0 0 1rem 0;
}
